@import url("https://fonts.cdnfonts.com/css/good-dog");

body {
  height: max-content;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  font-family: effra, sans-serif;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: 40px;
  font: inherit;
  outline: inherit;
  &:hover {
    opacity: 0.7;
  }
}

.nav-top,
nav li,
footer li,
.burger-content li,
button {
  cursor: pointer;
  transition: transform 0.2s ease;
  &:active {
    transform: scale(0.9);
  }
}

footer .nav-bottom li,
nav .nav-middle li,
nav .nav-bottom li:first-of-type,
.burger-content li:not(:last-child) {
  position: relative;
  &::before {
    position: relative;
    top: 20px;
    display: block;
    content: "";
    border-top: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

footer .nav-bottom li::before {
  border-top: solid 3px black;
}

ul {
  list-style: none;
}

.container {
  padding: 140px;
}

.burger-menu {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  .burger-content {
    color: white;
    background-color: #000;
    margin: 3% auto;
    width: 100%;
    height: 550px;
    ul {
      gap: 40px;
      flex-direction: column;
      button {
        background: white;
        color: black;
        padding: 12px 32px;
        width: 129px;
        height: 42px;
      }
    }
  }
}

// Nav styling
nav {
  .nav-burger {
    display: none;
  }

  z-index: 1000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  margin-right: 80px;
  background: black;
  background-image: url("https://i.ibb.co/XW3TQPy/Ornament.png");
  span,
  li,
  img,
  button {
    cursor: pointer;
  }
  .nav-top {
    font-size: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      text-align: center;
    }
    img {
      height: 40px;
    }
  }

  ul {
    gap: 40px;
    button {
      background: white;
      color: black;
      padding: 12px 32px;
      width: 129px;
      height: 42px;
    }
  }
}

// Hero (First main div)
.hero {
  padding-top: 100px;
  color: white;
  z-index: -1;
  min-height: 100vh;
  background: black;
  background-image: url("https://i.ibb.co/XW3TQPy/Ornament.png");
  flex-direction: column;
  text-align: center;
  gap: 40px;
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
    display: flex;
    flex-direction: column;
  }
  p {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8b8b8b;
  }
  button {
    color: black;
    border: none;
    padding: 12px 32px;
    margin: 0 auto;
    width: 180px;
    height: 57px;
    background: #a8ff35;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .rectangle-card-container {
    display: flex;
    margin-block: 5%;
    .rectangle-card {
      color: white;
      background: #181818;
      width: 293.04px;
      height: 82px;
      gap: 10px;
      font-family: "Roboto";
      font-size: 20.4445px;
      line-height: 24px;
      position: relative;
      box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.5);

      &:nth-child(2),
      &:nth-child(3) {
        img {
          margin-left: 15px;
        }
        span:nth-child(2) {
          white-space: nowrap; // does not add second line of text
        }
        span:nth-child(3) {
          right: 30px;
        }
      }

      &:nth-child(1) {
        transform: rotate(-4deg);
        z-index: 4;

        span:nth-child(3) {
          right: 10px;
        }
      }
      &:nth-child(2) {
        transform: rotate(2deg);
        z-index: 3;
      }
      &:nth-child(3) {
        transform: rotate(-2deg);
        z-index: 2;
      }
      &:nth-child(4) {
        transform: rotate(4deg);
      }

      img {
        height: 31.74px;
      }

      span:nth-child(3) {
        height: inherit;
        width: 10px;
        position: relative;
        z-index: 1;
        font-size: 40px;
        line-height: 83px;
      }

      div {
        z-index: 0;
        position: absolute;
        right: 0;
        background: linear-gradient(
          270deg,
          #181818 55.65%,
          rgba(24, 24, 24, 0.8) 100%
        );
        height: inherit;
        width: 100px;
      }
    }
  }
}

// New Tab section
.new-tab {
  background: #a8ff35;
  flex-direction: column;
  text-align: center;
  font-style: normal;

  position: relative;

  .right,
  .left {
    display: flex;
    font-family: "GoodDog plain", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    position: relative;
    &::before {
      position: relative;
    }
  }

  .right {
    width: 120px;
    bottom: 300px;
    left: 190px;
    transform: rotate(6deg);
    &::before {
      top: 30px;
      left: 25px;
      content: url(https://svgshare.com/i/tJM.svg);
    }
  }

  .left {
    width: 120px;
    bottom: 65px;
    right: 220px;
    transform: rotate(2deg);

    &::before {
      content: url(https://svgshare.com/i/tGy.svg);
      bottom: 40px;
      left: 70px;
    }
  }

  .findtrend-elon {
    margin-block: 60px;
    width: 502px;
    height: 202px;
    background: #f5f5f5;
    border-radius: 16px;
    position: relative;
    & div:first-child {
      position: relative;
      // left: 40px;
      img,
      span {
        position: relative;
        left: 40px;
      }
      padding-left: 20px;
      span {
        white-space: nowrap;
      }
      color: white;
      background: black;
      width: 341.23px;
      height: 82px;
      gap: 10px;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 23.8064px;
      line-height: 28px;
      position: relative;
      img {
        height: 31.74px;
      }
      div:last-of-type {
        z-index: 0;
        position: relative;
        right: 20px;
        background: linear-gradient(
          270deg,
          #030303 53.65%,
          rgba(3, 3, 3, 0.6) 100%
        );
        height: inherit;
        min-width: 100px;
      }
    }
    .x {
      color: white;
      height: inherit;
      width: 10px;
      position: relative;
      z-index: 1;
      font-size: 40px;
      line-height: 200px;
      left: -40px;
    }
  }
  h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
  }
}

// LongText section
.longtext {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .gray {
    color: #adadad;
  }
}

// Partner Section
.partner {
  flex-direction: column;
  gap: 80px;

  h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #000000;
  }
  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    .brands {
      width: 266px;
      height: 120px;
      background: #f5f5f5;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 40px;
      }
      &:nth-child(4) img,
      &:nth-child(12) img {
        height: 24px;
      }
      &:nth-child(7) img,
      &:nth-child(14) img,
      &:nth-child(16) img {
        height: 34px;
      }
    }
  }
}

// Platform section
.platform {
  background: #fafafa;
  flex-direction: column;
  gap: 80px;
  h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
  }
  overflow: hidden;
  .parent-logo {
    width: max-content;
  }
  .logos {
    gap: 24px;
    max-width: 90vw;
    display: flex;
    overflow-x: auto;

    div {
      width: 124px;
      height: 124px;
      background: #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 60px;
      }
    }
  }

  .twitter {
    flex-direction: column;
  }
  button {
    background: #000000;
    color: white;
    padding: 16px 32px;
    width: 198px;
    height: 57px;
    line-height: 140%;
  }
}

// Get Started Section
.get-started {
  flex-direction: column;
  background: black;
  color: white;
  gap: 40px;

  .toggle {
    gap: 20px;
    position: relative;
    margin-bottom: 50px;

    div {
      position: absolute;
      top: 160%;
      left: 70%;
      width: 20%;
      font-family: "GoodDog plain", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 12px;
      text-align: center;
      transform: rotate(6deg);

      &::before {
        position: absolute;
        content: url(https://svgshare.com/i/tGw.svg);
        width: 200px;
        height: 200px;
        top: -150%;
        right: -100%;
      }
    }
    span {
      font-family: "Inter";
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
      &:first-of-type {
        order: -1;
      }
      &:last-of-type {
        color: rgba(245, 245, 245, 0.5);
      }
    }
    label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      width: 104px;
      height: 52px;
      border-radius: 99px;
      cursor: pointer;
      background-color: white;
      transition: 0.3s;
      &::before {
        position: absolute;
        top: 2.5px;
        content: "";
        width: 36px;
        height: 36px;
        background: #a8ff35;
        border-radius: 99px;
        margin: 5px;
        transition: 0.3s;
      }
    }


    input {
      display: none;
      &:checked {
        & ~ span {
          color: #ffffff;
          &:first-of-type {
            color: rgba(245, 245, 245, 0.5);
          }
        }

        & + label {
          background-color: #a8ff35;
          &::before {
            transform: translateX(57px);
            background: white;
          }
        }
      }
    }
  }

  h2 {
    // width: 1160px;
    // height: 76px;
    line-height: 76px;
    font-size: 64px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;

    gap: 40px;

    .card {
      padding: 32px;
      width: 360px;
      height: 640px;
      border-radius: 16px;
      background: #fafafa;
      color: black;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bottom {
        margin: 0 auto;
        button {
          background: #a8ff35;
          color: black;
          padding: 16px 32px;
          width: 198px;
          height: 57px;
          line-height: 140%;
          font-weight: 700;
          font-size: 18px;
          transition: transform 0.5s ease;
        }
      }

      div div {
        &:first-of-type {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding-bottom: 32px;
          border-bottom: 1px solid gray;

          span {
            font-weight: 400;
            font-family: inherit;
            &:first-of-type {
              font-size: 36px;
            }
            &:last-of-type {
              font-size: 18px;
            }
          }
        }

        &:nth-child(2) {
          padding-top: 32px;
          span span:first-of-type {
            font-size: 64px;
          }

          ul {
            position: relative;
            margin-top: 41px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 18px;

            li::before {
              position: relative;
              content: "";
              display: inline-block;
              margin-right: 15px;
              transform: rotate(45deg);
              height: 12px;
              width: 6px;
              border-bottom: 4px solid black;
              border-right: 4px solid black;
            }
          }
        }
      }


      &:nth-child(2) {
        background: #a8ff35;
        button {
          background: black;
          color: white;
        }
      }

    }
  }
}

// Join us Section
.join-us {
  flex-direction: column;
  gap: 40px;
  background: #a8ff35;
  position: relative;
  h2 {
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
  }
  h3 {
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
    color: #87d322;
    position: relative;
    right: 45px;
  }

  button {
    padding: 16px 32px;
    width: 180px;
    height: 57px;
    font-family: effra, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: white;
    background: black;
  }
}

// Footer
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;

  .nav-top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    padding-right: 25px;
    img {
      height: 40px;
    }
  }
  .nav-bottom {
    ul {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
  }
}

@media only screen and (min-width: 1221px) {
  .rectangle-card-container {
    display: none;
    .rectangle-card {
      display: none;
      //   &:nth-child(1) {
      //     left: 5%;
      //     bottom: 45px;
      //   }
      //   &:nth-child(2) {
      //     left: 3%;
      //   }
      //   &:nth-child(3) {
      //     bottom: 45px;
      //   }
      //   &:nth-child(4) {
      //     right: 3%;
      //   }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .rectangle-card-container {
    flex-direction: column;
  }

  .partner {
    div {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .platform {
    .logos {
      gap: 16px;
      div {
        min-width: 64px;
        max-width: 64px;
        min-height: 64px;
        max-height: 64px;
        img {
          height: 30px;
        }
      }
    }
  }

  .join-us {
    h3 {
      right: 0;
    }
  }
}

@media only screen and (max-width: 830px) {
  .container {
    padding: 80px 18px;
  }

  nav {
    // margin-inline: 21px;
    position: absolute;
    justify-content: space-between;
    .nav-top span,
    .nav-middle,
    .nav-bottom {
      display: none;
    }
    .nav-top {
      margin-left: 20px;
    }

    .nav-burger.opened .burger-menu {
      display: block;
    }
    .nav-burger {
      margin-right: 20px;
      display: block;
      cursor: pointer;
      z-index: 1001;
      .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      &.opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      &.opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      &.opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    }
  }

  .hero {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 14px;
    }
  }

  .new-tab {
    h2 {
      font-size: 36px;
      line-height: 112%;
    }
    p {
      font-size: 14px;
    }
    .right {
      bottom: 220px;
      left: 115px;
    }

    .left {
      right: 160px;
    }

    .findtrend-elon {
      width: 320px;
      height: 118px;

      .x {
        font-size: 30px;
        line-height: 115px;
        left: -15px;
      }

      & div:first-of-type {
        // left: 5px;
        width: 251px;
        height: 69.93px;

        & span:first-of-type {
          white-space: nowrap;
        }

        div:last-of-type {
          background: linear-gradient(
            270deg,
            #030303 53.65%,
            rgba(3, 3, 3, 0.6) 100%
          );
          right: 40px;
          min-width: 70px;
        }
      }
    }
  }

  .longtext {
    p {
      font-size: 36px;
      line-height: 43px;
    }
  }

  .partner {
    h2 {
      font-size: 36px;
      line-height: 43px;
    }

    div {
      // grid-gap: 15px;
      .brands {
        width: 162px;
        height: 74px;
        background: #f5f5f5;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 24.36px;
        }
        &:nth-child(4) img,
        &:nth-child(12) img {
          height: 14.62px;
        }
        &:nth-child(7) img,
        &:nth-child(14) img,
        &:nth-child(16) img {
          height: 17.05px;
        }
      }
    }
  }

  .platform {
    h2 {
      font-size: 36px;
      line-height: 43px;
    }
  }

  .get-started {
    h2 {
      font-size: 36px;
      line-height: 43px;
    }
  }

  .join-us {
    h2,
    h3 {
      font-size: 36px;
      line-height: 112%;
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 90px;

    .nav-bottom ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
    }
  }
}

@media only screen and (max-width: 620px) {
  .partner {
    div {
      grid-gap: 15px;
    }
  }
  .get-started {
    .cards {
      .card {
        width: 80%;
        height: 602px;
      }
    }
  }
}

// detects if user is using a mobile device
@media (pointer: none), (pointer: coarse) {
  .logos {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  button {
    &:hover {
      opacity: 1;
    }
  }

  footer .nav-bottom li,
  nav .nav-middle li,
  nav .nav-bottom li:first-of-type,
  .burger-content li:not(:last-child) {
    &:hover::before {
      transform: scaleX(0);
    }
  }

  .nav-top,
  nav li,
  footer li,
  .burger-content li,
  button {
    transition: transform 250ms ease;
    &:active {
      transform: scale(0.8);
    }
  }
}
